
plugins/fetch.json
node_modules/.package-lock.json
node_modules/cordova-plugin-speechrecognition/.editorconfig
node_modules/cordova-plugin-speechrecognition/.npmignore
node_modules/cordova-plugin-speechrecognition/CHANGELOG.md
node_modules/cordova-plugin-speechrecognition/LICENSE
node_modules/cordova-plugin-speechrecognition/package.json
node_modules/cordova-plugin-speechrecognition/plugin.xml
node_modules/cordova-plugin-speechrecognition/README.md
node_modules/cordova-plugin-speechrecognition/src/android/com/pbakondy/LanguageDetailsChecker.java
node_modules/cordova-plugin-speechrecognition/src/android/com/pbakondy/SpeechRecognition.java
node_modules/cordova-plugin-speechrecognition/src/ios/SpeechRecognition.h
node_modules/cordova-plugin-speechrecognition/src/ios/SpeechRecognition.m
node_modules/cordova-plugin-speechrecognition/www/speechRecognition.js
node_modules/cordova-plugin-tts-advanced/package.json
node_modules/cordova-plugin-tts-advanced/plugin.xml
node_modules/cordova-plugin-tts-advanced/README.md
node_modules/cordova-plugin-tts-advanced/src/android/TTS.java
node_modules/cordova-plugin-tts-advanced/src/ios/CDVTTS.h
node_modules/cordova-plugin-tts-advanced/src/ios/CDVTTS.m
node_modules/cordova-plugin-tts-advanced/www/tts.js
plugins/cordova-plugin-speechrecognition/.editorconfig
plugins/cordova-plugin-speechrecognition/.npmignore
plugins/cordova-plugin-speechrecognition/CHANGELOG.md
plugins/cordova-plugin-speechrecognition/LICENSE
plugins/cordova-plugin-speechrecognition/package.json
plugins/cordova-plugin-speechrecognition/plugin.xml
plugins/cordova-plugin-speechrecognition/README.md
plugins/cordova-plugin-speechrecognition/src/android/com/pbakondy/LanguageDetailsChecker.java
plugins/cordova-plugin-speechrecognition/src/android/com/pbakondy/SpeechRecognition.java
plugins/cordova-plugin-speechrecognition/src/ios/SpeechRecognition.h
plugins/cordova-plugin-speechrecognition/src/ios/SpeechRecognition.m
plugins/cordova-plugin-speechrecognition/www/speechRecognition.js
plugins/cordova-plugin-tts-advanced/package.json
plugins/cordova-plugin-tts-advanced/plugin.xml
plugins/cordova-plugin-tts-advanced/README.md
plugins/cordova-plugin-tts-advanced/src/android/TTS.java
plugins/cordova-plugin-tts-advanced/src/ios/CDVTTS.h
plugins/cordova-plugin-tts-advanced/src/ios/CDVTTS.m
plugins/cordova-plugin-tts-advanced/www/tts.js
.vscode/typings/cordova/cordova.d.ts
package-lock.json
typings/cordova-typings.d.ts
typings/cordova-typings.d.ts
